extends ../ui_layout

block content
  .computer.only.tablet.only.eight.wide.column
    img.ui.fluid.image(src='/public/homepage.jpg')
  

  .eight.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
    h2.ui.header Sign in
    form.ui.form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .field
        label(for='email') Email
        input(type='email', name='email', id='email', placeholder='Email', autofocus, required).field
      .field
        label(for='password') Password
        input(type='password', name='password', id='password', placeholder='Password', required)
      button.ui.button(type='submit') Login
      a(href='/forgot') Forgot your password?
    .ui.horizontal.divider
      | Or
    .center.aligned.column
      .ui.big.green.labeled.icon.button.signup
        i.signup.icon
        |   Sign Up
