extends ../ui_layout

block content
  .computer.only.tablet.only.eight.wide.column
    img.ui.fluid.image(src='/public/homepage.jpg')
  

  .eight.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
    h2.ui.header Sign Up
    form.ui.form(id='signup-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .field
        label(for='username') Username
        input(type='text', name='username', id='username', placeholder='Username', autofocus, required)

      .field
        label(for='mturkID') Mechanical Turk ID
        input(type='text', name='mturkID', id='mturkID', placeholder='Mechanical Turk ID', required)

      .field
        label(for='email') Email (will not be publicly displayed)
        input(type='email', name='email', id='email', placeholder='Email', required)

      .field
        label(for='password') Password
        input(type='password', name='password', id='password', placeholder='Password', required)

      .field
        label(for='confirmPassword') Confirm Password
        input(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
          
      .field
        .ui.checkbox
          input.hidden(type='checkbox', name='tos', id='tos', required)
          label
            | I agree to the 
            a(href='/tos') Terms and Conditions
      button.ui.button(type='submit') Signup
