extends ui_layout

block content

  .ui.text.container
    br
    h2 Community Rules for EatSnap.Love
    p We are so glad you are here to eat, snap and love along with us! Before you get started, please review our community rules. These rules help foster a friendly and fun community. Please note that this is not a comprehensive list. Our moderators reserve the right to remove anything we deem inappropriate.

    p Remember if you encounter anything in the following list, be sure to <b>Flag It 🚩</b> so our moderators can investiagte and help out.

    h3 No SPAM (unless it's in a can!)
    p This is not the place to sell your services or promote your brand. SPAM will be deleted when found.

    h3 No Personal Attacks and Bullying
    p Zero tolerance on this! EatSnap.Love is a place to to share our snaps and our love, not to tear each other down. 

    h3 No Racism, sexism, and other discrimination
    p Attacking entire classes of people is just like attacking a single person: we'll ban you for it.

    h3 No NSFW material
    p If you wouldn't show your boss, don't show it here! 

    .ui.big.green.labeled.icon.button.com
        i.rocket.icon
        |   Got it!
    br
    br
    br
    br

