extends ui_layout

block content

  .ui.text.container
    br
    h2 Profile Introductions
    p To help connect you with other members of our community, we've introducted a new feature call "Profile Introductions"
    p This feature allows us to introduce you to members we think you would like to connect with. Click on the photo gallery to view these member's most recent posts.  
    img.ui.centered.image(src='/public/profile_example.PNG')
    br
    .ui.big.green.labeled.icon.button.info
        i.rocket.icon
        |   Let's Go!
    br
    br
    br
