extends ../ui_layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-4
      a(href='/api/upload', style='color: #1565c0')
        .panel.panel-default(style='background-color: #fff')
          .panel-body
            img(src='http://i.imgur.com/UPTzIdC.png', height=40)
            |  File Upload
